*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman",sans-serif;
    color: white;
}

body{
    background-color: #250707;
    color: white;
    margin: auto;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background-color: #120303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header>img{
    position: absolute;
    left: 0;
}

.name {
    margin-right: 10px;
    font-size: 2em;
}
.first-part {
    color: #c13333;
}
.second-part {
    color: #752b2b;
}

.nav a{
    width: fit-content;
    height: fit-content;
    font-size: 18px;
    color: #edaaaa;
    font-weight: 500;
    text-decoration: none;
    margin-left: 50px;
}

.nav a:hover{
    color: #e16565;
}

.body{
    position: absolute;
    top: 150px;
}
#about_me>img{
    position: relative;
    left: 100px;
    top: 20px;
}

.mydetail>h2{
    font-size: 3.5em;
    color: #ec3b3b;
    position: absolute;
    left: 550px;
    top: 50px;
}

.mydetail>h3{
    color: #ffffff;
    font-size: 2em;
    position: absolute;
    left: 600px;
    top: 125px;
}

.mydetail>h4.detail{
    color: #ffffff;
    font-size: 1.2em;
    position: absolute;
    left: 600px;
    top: 170px;
}

#my{
    position: absolute;
    width: 750px;
    height: 115px;
    background: #2e0808;
    color: #ec7979;
    margin: 5px;
    box-sizing: content-box;
    left: 600px;
    top: 200px;
}

#my>em{
    color: #c13333;
}

.educationH{
    color: #ffffff;
    position: absolute;
    left: 600px;
    top: 335px;
}

#educationDetail{
    position: absolute;
    width: 750px;
    height: 75px;
    background: #2e0808;
    color: #ec7979;
    margin: 5px;
    box-sizing: content-box;
    left: 600px;
    top: 355px;
}

#educationDetail>em{
    color: #c13333;
}

#service{
    position: relative;
    top: 220px;
}

#serviceD{
    position: relative;
    width: 80px;
    height: 50px;
    background: #190101;
    color: #c56464;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px red;
    border: 5px solid #270606;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    padding: 0 60px;
}

.ui {
    width: 220px;
    height: 170px;
    background: linear-gradient(to right, #2e0808, #5a2222);
    color: #ec7979;
    margin: 5px;
    box-sizing: content-box;
    transition: background-color 0.3s ease;
}

.ui:hover {
    background: linear-gradient(to right, #5a2222, #2e0808);
    color: #ca9d9d;
}

.ui>h5{
    font-size: 1.2em;
    color: #fd9595;
    display: grid;
    place-items: center;
    margin: auto;
}

.ui>p{
    text-align: center;
    position: relative;
    top: 50px;
}

.web {
    width: 220px;
    height: 170px;
    background: linear-gradient(to right, #2e0808, #5a2222);
    transition: background-color 0.3s ease;
    color: #ec7979;
    margin: 5px;
    box-sizing: content-box;
}

.web:hover {
    background: linear-gradient(to right, #5a2222, #2e0808);
    color: #ca9d9d;
}

.web>h5{
    font-size: 1.2em;
    color: #fd9595;
    display: grid;
    place-items: center;
    margin: auto;
}

.web>p{
    text-align: center;
    position: relative;
    top: 50px;
}

.html {
    width: 250px;
    height: 170px;
    background: linear-gradient(to right, #2e0808, #5a2222);
    transition: background-color 0.3s ease;
    color: #ec7979;
    margin: 5px;
    box-sizing: content-box;
}

.html:hover {
    background: linear-gradient(to right, #5a2222, #2e0808);
    color: #ca9d9d;
}

.html>h5{
    font-size: 1.2em;
    color: #fd9595;
    text-align: center;
    display: grid;
    place-items: center;
    margin: auto;
}

.html>p{
    text-align: center;
    position: relative;
    top: 50px;
}

#skill{
    position: relative;
    top: 340px;
}

#skillD{
    position: relative;
    width: 80px;
    height: 50px;
    background: #190101;
    color: #c56464;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px red;
    border: 5px solid #270606;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#my_works{
    position: relative;
    top: 340px;
}

#gallery{
    position: relative;
    top: 350px;
}

#contact_info{
    position: relative;
    top: 350px;
}
