*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman",sans-serif;
    color: white;
}

body{
    background-color: #250707;
    color: white;
    margin: auto;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background-color: #120303;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header>img{
    position: absolute;
    left: 0;
}

.name {
    margin-right: 10px;
    font-size: 2em;
}
.first-part {
    color: #c13333;
}
.second-part {
    color: #752b2b;
}

.nav a{
    font-size: 18px;
    color: #edaaaa;
    font-weight: 500;
    text-decoration: none;
    margin-left: 45px;
}

.nav a:hover{
    color: #e16565;
}

.body{
    position: absolute;
    top: 150px;
}
#about_me>img{
    position: relative;
    left: 100px;
}

.mydetail>h2{
    font-size: 3.5em;
    color: #ec3b3b;
    position: absolute;
    left: 550px;
    top: 60px;
}

.mydetail>h3{
    color: #ffffff;
    font-size: 2em;
    position: absolute;
    left: 600px;
    top: 120px;
}

.mydetail>h4.detail{
    color: #ffffff;
    font-size: 1.4em;
    position: absolute;
    left: 600px;
    top: 165px;
}
